<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="gestULRPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>modele.entite.Compte</class>
    <class>modele.entite.Formation</class>
    <class>modele.entite.Adresse</class>
    <class>modele.entite.Dossier</class>
    <class>modele.entite.Etudiant</class>
    <class>modele.entite.EtudiantEtranger</class>
    <class>modele.entite.Historique</class>
    <class>modele.entite.Justificatif</class>
    <class>modele.entite.Action</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
